.browser .browser-toolbar {
    color: #409EFF;
    border-bottom: 1px solid rgba(102, 208, 208, 0.2);
    background: #F2F6FC;
}

.browser .browser-toolbar .page-tabs {
    margin-top: 1px;
}

.browser .browser-toolbar .tab {
    margin: 0 1px;
    height: 90% !important;
    border-radius: 4px 4px 0 0;
    color: #99a9bf;
    border: 1px solid transparent;
    transition: all 0.2s ease-in;
}

.browser .browser-toolbar .tab.active,
.browser .browser-toolbar .tab:hover {
    background: #EBEEF5;
    color: #409EFF;
    border: 1px solid rgba(102, 208, 208, 0.2);
    border-bottom-color: #EBEEF5;
}

.browser .browser-toolbar .tab label {
    font-weight: bold;
}

.browser .browser-toolbar .fork-btn:hover {
    color: rgba(102, 208, 208, .8);
}

.browser .browser-toolbar button {
    color: #99a9bf;
    background: transparent;
}

.browser .browser-toolbar button:hover {
    color: #409EFF;
    background: rgba(102, 208, 208, 0.2);
}

.browser .browser-toolbar .btn-group {
    background: #F2F6FC;
}