// 主色
$primary-color: #409eff;
$secondary-color: #333333;
$danger-color: #ff4351;
$success-color: #67C23A;
$warning-color: #feae1b;

// 字体色
$placeholder-color: #a8abb2;
$disabled-color: #c0c4cc;
$info-color: #606266;
$label-color: #99a9bf;
$title-color: #2e3543;

// 边框色
$border-color: #dcdfe6;
$border-light-color: #e4e7ed;
$border-lighter-color: #ebeef5;
$border-exlight-color: #f2f6fc;