// 布局
.ofa-container {
    display: flex;
    overflow-x: hidden;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.ofa-container.column {
    flex-direction: column;
}

.ofa {
    &-mt10 {
        margin-top: 10px;
    }

    &-mt20 {
        margin-top: 20px;
    }

    &-mt40 {
        margin-top: 40px;
    }

    &-mt50 {
        margin-top: 50px;
    }

    &-ml4 {
        margin-left: 4px;
    }

    &-ml10 {
        margin-left: 10px;
    }

    &-ml20 {
        margin-left: 20px;
    }

    &-mr4 {
        margin-right: 4px;
    }

    &-mr10 {
        margin-right: 10px;
    }

    &-mr20 {
        margin-right: 10px;
    }

    &-mb10 {
        margin-bottom: 10px;
    }

    &-mb20 {
        margin-bottom: 20px;
    }

    &-mb40 {
        margin-bottom: 40px;
    }

    &-mb50 {
        margin-bottom: 50px;
    }
}