$font-color: #606266;
.el-menu-item {
    border-radius: 10px;
}

.el-menu-item,
.el-submenu {
    color: $font-color;
    margin: 10px;
    min-width: auto !important;

    .el-submenu__title {
        color: $font-color;
        border-radius: 10px;
    }

    .icon {
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }
}

.el-menu-item.is-active {
    background-color: #409eff;
    color: #fff;
}

.el-menu--collapse {

    .menu-name,
    .menu-name-disabled,
    .el-submenu__icon-arrow,
    .el-menu-item-group__title {
        display: none;
    }

    .el-menu-item,
    .el-submenu__title {
        color: $font-color;
        text-align: center;
    }

    .el-menu-item.is-active {
        background-color: #409eff;
        color: #fff;
    }

    .el-menu-item,
    .el-submenu {

        .icon {
            margin-right: 0;
        }
    }
}

.el-menu--vertical {
    .el-menu {
        border-radius: 10px;
    }

    .el-menu-item,
    .el-submenu {
        color: $font-color;
    }

    .el-menu-item.is-active {
        background-color: #409eff;
        color: #fff;
    }
}